/* Common Start */
body{
    font-family: 'Pt Sans', Sans-Serif;
    font-size: 16px;
    font-weight: 400px;
    color: #010101;
}
/* Common End */

header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.c_nav{}
.logo{}
.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0 45px !important;
}
.menu ul li:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: white !important;
}
